<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="favourites.length > 0; else empty">
    <ion-item *ngFor="let r of favourites; trackBy: trackById">
      <ion-thumbnail slot="start" *ngIf="r.image">
        <ion-img [src]="r.image"></ion-img>
      </ion-thumbnail>

      <ion-label>
        <h2>{{ r.title }}</h2>
        <p>Recipe ID: {{ r.id }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button
          [routerLink]="['/recipe-details']"
          [queryParams]="{ id: r.id }"
        >
          DETAILS
        </ion-button>

        <ion-button (click)="remove(r.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <p>No favourites yet. Go to a recipe and tap the heart.</p>
  </ng-template>
</ion-content>
