<ion-header>
  <ion-toolbar>
    <ion-title>G00438841</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="goToSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Enter ingredients</ion-label>
    <ion-input [(ngModel)]="searchText"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchRecipes()">
    Search
  </ion-button>

  <div class="cards-container">
    <div class="recipe-card" *ngFor="let recipe of recipes">
      <img
        *ngIf="recipe.image"
        class="recipe-img"
        [src]="recipe.image"
        [alt]="recipe.title"
      />

      <div class="recipe-body">
        <div class="recipe-title">{{ recipe.title }}</div>

        <ion-button size="small" (click)="openRecipeDetails(recipe)">
          DETAILS
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
